html.js #dashboard div.noscript {
  display: none;
}

div#page-tools li.dashboard-add-gadget {
  position: relative;
}
div#page-tools li.dashboard-add-gadget a.selected {
  background-image: none;
  background: #1885c8;
  color: #fff;
  padding: 0 6px;
  font-weight: bold;
}
div#page-tools li.dashboard-add-gadget ul strong {
  display: block;
  width: 8em; /* min-width */
}
#page-tools li.dashboard-add-gadget ul {
  position: absolute;
  top: 1.2em;
  right: 0;
  z-index: 1;
  background: #fff;
  border: 3px solid #1885c8;
  padding: 6px 10px 10px 10px;
}

.dashboard-link-add a,
.dashboard-link-add a:link,
.dashboard-link-add a:visited,
.dashboard-link-add a:active {
  color: #96bc44;
}
div.nav-content-dashboard li {
  cursor: move;
}
div.nav-content-dashboard li.active {
  cursor: auto;
}
#dashboard div.column {
  padding: 1em 0 1em 0;
}
#dashboard div.gadget {
  margin: 0 0 20px 0;
  background: #f6f6f2;
}
#dashboard h2 {
  cursor: move;
  border-bottom: 1px solid #ddd;
}
#dashboard h2 a {
  color: #000;
  display: block;
  padding: 7px 10px;
}
#dashboard .content {
  padding: 7px 10px;
}
.dashboard-placeholder {
  border: 2px dashed #96bc44;
}
