body {
  background-color: #fff;  
  background: -moz-linear-gradient(100% 100% 90deg, #f6f5f0, #fff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f5f0), to(#fff));  
  background-position-x: 612px;
}

h3 {
  font-weight: normal;
}

.grid-3 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.link-button {
  margin-top: 48px;
}

#header-highlight .grid-3 {
  margin-top: 28px; 
  margin-bottom: 28px;
} 

#page-title {
  margin-top: 48px;
}

#header {
  height: 612px; 
  background-color: #5cb2e8;
  background: url('images/header-bg.jpg') top left no-repeat, url('images/header-bg-gradient.jpg') top left repeat-x;

}

#header-feature {
  margin-top: -367px;
  padding-top: 0;
}

#header-feature h1, #header-feature h2 {color: #fff;}

#header-feature h1 {
  font-size: 2.2em;
  font-weight: normal;
  letter-spacing: .04em;
  margin-bottom: 0.8em;
}

#header-feature h2 {
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: .05em;
  line-height: 1.4em;
}

#header-feature img {
  margin-top: 2em;
}

#header-highlight {
  background-color: #293640;
  background: url('images/gray-gradient.png') repeat-x 0 0;
  background: -moz-linear-gradient(100% 100% 90deg, #3f4a51, #293640); 
  background: -webkit-gradient(linear, left top, left bottom, from(#3f4a51), to(#293640));
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  clear: both;
  position: relative;
  top: -16px;
  left: -10px;
  -moz-box-shadow: 0px 2px 4px #888; 
  -webkit-box-shadow: 0px 2px 4px #888; 
  box-shadow: 0px 2px 4px #888;
  width: 960px;
  padding: 0px;
}

#header-highlight-inner .grid-3 {
  margin-top: 14px;
  margin-bottom: 14px;
}

#header-highlight-inner h3 {
  color: #fff;
  text-shadow: #222 2px 2px 0px;
  margin-top: 0;
  letter-spacing: 0.05em;
  font-weight: bold;
}

#header-highlight-inner p {
  color: #fff;
}

#nav-masthead {
  border-bottom: 1px solid #227ebf;
}

#column-left {
  margin-top: -112px;
}

#video {
  margin-top: -4px;
  margin-bottom: 2.4em;
}

#video h2 {
  font-size: 2.0em;
  margin-bottom: 1.0em;
}

#video .grid-3 {
  margin-top: 4.0em;
}

ul#doc-list {
  margin-bottom: 12px;
}

h2#heading-features {
  margin-bottom: 0em;
  font-size: 2.0em;
}

#requirements {
  border-top: 1px solid #ddd;
  margin-top: 2.0em;
  padding-top: 2.0em;
}

#requirements ul {
  margin-bottom: 12px;
}

#caption {
  color: #fff; 
  background: #1d272f; 
  position: absolute; 
  top: 287px;
  right: 0px; 
  font-size: 18px;
  z-index: 999; 
  padding: 10px; 
  width: 440px;
  height: 19px;
  display: inline;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#header-feature img {
  display: none;
}

#header-feature img:first-child {
  display: block;
}
